.lp {
    display: flex;

    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; /* Coloca los elementos en columna */
    background-color: rgba(196, 125, 226, 0.118); /* Fondo transparente */
  }
  
  .title {
  
    font-size: 36px;
   color: rgb(101, 10, 237);
    background-color: rgba(103, 7, 238, 0.499); /* Cambia el color del título a negro */
    font-family: initial;
  
  }
  
 
  .form-container {
    text-align: center;
   font-family: initial;
   
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-family: initial;
  }
  
  .form-container input[type="text"] {
    width: 250px; /* Ajusta el ancho del campo de entrada */
    margin-bottom: 11px; /* Espaciado entre el campo de entrada y el botón */
    padding: 10px;
    font-size: 18px;
  }
  
  .button {
    font-family:initial;
    padding: 15px 30px;
    background-color: #5d1871cd;
    color: rgb(9, 7, 7);
    letter-spacing: 4px;
    font-size: 18px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s;
  }
  
  .button:hover {
    background: #ed0f0f47;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
  }
  .loading {

    width: 90px;
    height: 30px;
    margin: 10 auto;
    display: block;
  }