.about-container {
  max-width: 90%; /* Establece el ancho máximo al 90% del tamaño de la pantalla */
  margin: 0 auto;
  padding: 50px; /* Reducimos el relleno para dispositivos móviles */
  background-color: rgba(213, 81, 240, 0.259); /* Fondo transparente */
  font-family: initial
}


.about-header {
  font-size: 30px;
  margin-bottom: 25px;
}

.about-content {
  font-size: 20px;
  margin-bottom: 20px;
}

.about-buttons {
  margin-bottom: 25px;
}

.about-buttons button {
  padding: 10px 20px;
  
  font-size: 16px;
  background-color: #070607;
  color: #c55df1;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.about-buttons button:hover {
  background-color: #e3a9f5;
}


.about-social {
  display: flex; /* Alinea los elementos uno al lado del otro */
  justify-content: center; /* Centra los elementos horizontalmente */
 
  flex-direction: row; /* Alinea los elementos en una fila horizontal */
}

.about-social li {
  list-style-type: none; /* Quita los puntos de la lista */
  margin-right: 35px;
  display: inline-block;
}

.about-social img {
  width: 30px; /* Reducimos el tamaño de los íconos para dispositivos móviles */
  height: 30px; /* Reducimos el tamaño de los íconos para dispositivos móviles */
  border-radius: 50%;
  transition: transform 0.3s;
  margin-right: 10px; /* Agrega un margen derecho más pequeño para dispositivos móviles */
}

.about-social img:last-child {
  margin-right: 0px; 
  
}

.about-social img:hover {
  transform: scale(1.2);
}

.pok-gif{

  left: 10px;
}
.pok-gif {
  width: 100%; /* Hacemos que el gif se ajuste al ancho del contenedor */
  max-width: 400px; /* Establecemos un ancho máximo para el gif */
  margin: 20px auto; /* Centramos el gif y agregamos espacio alrededor */
}