* {
	box-sizing: border-box;
  }
  
  .form {
	width: 100%;
	max-width: 360px;
	padding: 15px;
	margin: 0 auto;
	background: rgba(64, 1, 136, 0.411);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.438);
  }
  
  .input {
	width: 100%;
	outline: none;
  }
  
  .title {
	font-size: 23px;
	color: #fff;
	font-family: Geneva, Tahoma, sans-serif;
	text-align: center;
  }
  
  label {
	margin: 7px 0;
	display: block;
	color: #fff;
	text-align: left;
  }
  
  .error {
	color: rgb(255, 0, 0);
	margin-top: 2px;
	font-size: 14px;
  }
  
  .types-s {
	margin: 12px 0;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .bottom, .atras {
	width: 100%;
	background-color: rgb(26, 0, 51);
	border-radius: 5px;
	color: rgb(243, 231, 255);
	margin-top: 12px;
	cursor: pointer;
	padding: 8px;
  }
  
  .atras {
	margin-right: 0;
  }
  
  .button-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  @media only screen and (max-width: 480px) {
	.form {
	  padding: 10px;
	}
  
	.title {
	  font-size: 20px;
	}
  
	label {
	  font-size: 14px;
	}
  
	.input, .bottom, .atras {
	  font-size: 14px;
	}
  
	.error {
	  font-size: 12px;
	}
  }