.container{

    
    padding: 30px; /* Ajusta la distancia entre el contenido y el borde del contenedor */
    width: 50%; /* Anchura del contenedor */
    margin: auto; /* Centra el contenedor horizontalmente */
    background-color: rgba(168, 73, 235, 0.316); /* Fondo transparente */
}

.imagen {
   
    border-radius: 200px;
    background: -webkit-linear-gradient(left,rgb(182, 113, 241), rgb(158, 105, 243));         
    box-shadow: 5px 5px 5px rgb(56, 5, 122);
}

* {
    text-decoration: none;
    color: rgb(0, 0, 0);
}


.names {
font-family: 'Cinzel Decorative', cursive;
font-size: 40px;
margin-top: 20px;
text-align: center;
color: rgb(5, 0, 9);
text-shadow: 0px 10px 0px rgba(47, 12, 81, 0.438);

}



.id{
   font-size: 30px;
   color: rgb(13, 13, 13);
   text-shadow: 5px 1px 2px rgba(101, 92, 218, 0.438)
}

.volver{
    color: #fff;
    background-color: rgb(164, 105, 235);
    display: inline-block;
	padding:10px;
    margin-top:0px;
}


    

.letter{
    color: #f1ecec
    }

.type1, .type2 {
    font-family: "Merienda", cursive;
    font-size: 40px;
    margin-right: 30px;
text-shadow: 1px 1px 2px rgba(174, 130, 234, 0.657)
}

.lista{
    font-size: 25px;
    margin-top: 50px;
} 