.cardBox {
    width: 430px;
    height: 640px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: rgba(183, 16, 16, 0.941) 0px 2px 10px 0px,
      rgba(183, 23, 23, 0.5) 0px 2px 25px 0px;
    margin: 0 auto; /* Esto centrará la tarjeta horizontalmente */
  margin-top: 30px;
}
  
  .card {
    position: absolute;
    width: 97%;
    height: 97%;
    background: #8038d47b;
    border-radius: 20px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
    padding: -4px;
    color: #090606;
  }
  
  .names {
    font-family:initial;
    font-size: 24px;
    margin-top: 40px;
  }
  
  .id {
    font-size: 27px;
    margin-top: 5%;

  }
  
  .imagen {
    width: 240px;
    height: 300px;
    border-radius: 50%;
  }
  
  .content {
    margin-top: -10%;
  }
  
  .lista {
    font-size: 17px;
    margin-top: 16px;
    font-family: initial;
    margin-right: 45px;
  }
  
  /* Estilos para las líneas impares */
  .lista:nth-child(odd) {
    background-color: rgba(247, 244, 248, 0.5);
  }
  
  /* Estilos para las líneas pares */
  .lista:nth-child(even) {
    background-color: rgba(245, 243, 247, 0.4);
  }

  /* Estilos para el botón "Volver" */
.volver-btn {
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  background-color: #6128b7b9; /* Cambiar al color deseado */
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.volver-btn:hover {
  background-color: #e7828275; /* Cambiar al color deseado al pasar el mouse */
}

  /* Media queries para ajustes en diferentes tamaños de pantalla */
  @media screen and (max-width: 600px) {
    .cardBox {
      width: 200%;
      max-width: 300px;
      max-height: 500px;
    }
    
    .imagen {
      width: 200px;
      height: 200px;
    }
    
    .names {
      font-size: 20px;
    }
    
    .id {
      font-size: 16px;
    
    }
    
    .lista {
      font-size: 14px;
      margin-top: 1%;
      padding-top: 3%;
      font-family: initial;
    }
  }