.stylesCard {
  background: rgba(163, 131, 193, 0.521);
  margin: 10px;
  width: 15rem;
  border-radius: 20px;
  display: inline-block;
  transition: all 400ms ease;
  box-sizing: content-box;
  height: 300px; /* Altura fija */
  border: 1.5px solid #22043dda;
  box-shadow: rgba(243, 16, 16, 0.2) 0px 10px 20px; 
}

.stylesCard:hover {
  box-shadow: rgba(222, 25, 25, 0.847) 0px 20px 40px; 
  transform: translateY(-3%);
}

.name {
  font-family: initial;
  font-size: 25px;
  color: #000000;
  text-decoration: none;
}

.attack {
  font-family: initial;
  color: black;
}
.more-types{
  margin-top: -25px;
  font-size: 13px;
}

.typeStyle {
  list-style-type: none;
  color: #070606;
  text-decoration-line: none;
  display: inline;
  padding-left: 3px;
  padding-right: 3px;
  font-family: initial;
  text-decoration: none;
  font-size: 20px;
}

ul li {
  text-decoration-line: none;
  list-style-type: none;
  text-align: center;
  align-content: center;
}