.logo {
  width:140px;
  float: left;
  margin-left: 10px;
 
  transform: translate(0px,-18px)
}
/* Estilos para pantallas más grandes (por ejemplo, tabletas y escritorios) */
@media screen and (min-width: 768px) {
  .logo {
    width: 160px; /* Ajusta el ancho del logo para pantallas más grandes */
  }
}

/* Estilos para pantallas más pequeñas (por ejemplo, teléfonos móviles) */
@media screen and (max-width: 767px) {
  .logo {
    width: 110px; /* Ajusta el ancho del logo para pantallas más pequeñas */
    margin-left: 0px;
    margin-top: 3%; /* Ajusta el margen izquierdo para centrar el logo en pantallas más pequeñas */
  }
}
.created{
  float: right;
    margin-top: 10px;
    margin-right: 15px;
    font-size: 15px;
    color: rgb(7, 1, 1);
   font-family: initial;
    transition-duration: 0.4s;
    padding: 15px 10px; /* Agrega padding para hacerlo parecer un botón */
    background-color: rgba(192, 116, 234, 0.685); /* Agrega un color de fondo */
    border-radius: 5px;
    border: 2px solid rgb(1, 1, 1); /* Agrega un borde sólido de 2px con el color especificado */
    
  }
  .created:hover {
    cursor: pointer;
    color: white;
    background: #c25d4976;
  }


.header {
  overflow: hidden;
  height: 75px;
  background-color: rgba(216, 163, 230, 0.5); /* Utiliza rgba para el color con transparencia */
}

.about{

  float: right;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 15px;
  color: rgb(7, 1, 1);
  font-family:initial;
  transition-duration: 0.4s;
  padding: 15px 10px; /* Agrega padding para hacerlo parecer un botón */
  background-color: rgba(192, 116, 234, 0.685); /* Agrega un color de fondo */
  border-radius: 5px; /* Añade bordes redondeados */
  border: 2px solid rgb(1, 1, 1);
 
  
}

.about:hover {
  cursor: pointer;
    color: white;
    background: #f0515153;

}
/* Estilos base para los botones */
.created, .about {
  font-size: 15px;
  padding: 15px 10px;
  border-radius: 6px;
  background-color: rgba(192, 116, 234, 0.685);
  border: 2px solid rgb(1, 1, 1);
  transition-duration: 0.4s;
}

/* Estilos para pantallas más grandes (por ejemplo, tabletas y escritorios) */
@media screen and (min-width: 768px) {
  .created, .about {
    font-size: 16px;
    padding: 6px 5px;
    margin-top: 20px;
    margin-right: 20px;
  }
}

/* Estilos para pantallas más pequeñas (por ejemplo, teléfonos móviles) */
@media screen and (max-width: 767px) {
  .created, .about {
    font-size: 14px;
    padding: 6px 5px;
    margin-top: 20px;
    margin-right: 5px;
  
 
    
  }
}



